---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import aboutImg from "../assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm a Rebel, advocating for individual thought and open-mindedness.",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About the Rebel's Advocate</h1>
		<p>
			Hello - I'm the Rebel's Advocate. Here to make you consider alternative views to your current way of thinking. If I support how you think too much, challenge me to make you think different. I'll gladly accept your challenge. But I won't succeed in doing so by conceding lies for the truth - truth always comes first.
		</p>
		<div class="flex justify-center">
			<Image src={aboutImg} alt="A cartoon cactus looking at 'Astro.build' logo"
			/>
		</div>
		<p>Here are my some of my opinions that will make you love or hate me:</p>
		<ul class="list-disc list-inside">
			<li>I'm a moderate who believes in progressivism and democracy - I'm anti-fascist</li>
			<li>I'm fully responsible for all my actions and thoughts, so you won't find me apologizing if I offend you</li>
			<li>I try to support the facts while also presenting alternate points of view to disrupt groupthink</li>
			<li>Despite what you think, I don't deny conservative thought as completely wrong - I just view it as destructive to society currently but still support conservative thinkers - I just only cannot support any type of fascism or anti-democratic thought</li>
			<li>I love America and the world and think our best is yet to come</li>
			<li>We can save the world if we agree to disagree, embrace our differences, and take drastic action against the elders who rule our society with impunity</li>
		</ul>
		<p>
			Share my website or any posts
			<a
				class="inline-block cactus-link"
				href="https://github.com/chrismwilliams/astro-cactus"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository"
			>
				by clicking here
			</a> if you like me!
		</p>
	</div>
</PageLayout>
