---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "Contribute to The Rebel's Advocate",
	description: "Enjoy the blog and want to help spread the message? Contribute to the cause and share the site.",
};
---

<PageLayout meta={meta}>
    <section>
        <h1 class="mb-6 title">Contribute to The Rebel's Advocate</h1>
        <p class="mb-4">Help a brotha out - contribute to Rebel's Advocate and get yoself a sticker! Listen, I really love writing, inspiring, and arguing every opinion that you share with me. But times are hard for everyone in this world, and while I understand that you would much rather read this for free, I would really appreciate it if you could give anything at all (or even just share this website!) to help my cause. It's not a requirement, but I do require resources to exist and I can't write this blog for you if I don't exist.</p>
        <br />
        <p class="mb-4">You may be thinking, but you're the Rebel's Advocate, conessiour of creativity; debateur of all debates; the hacking maniac who is capable of hacking money (ethically and legally of course). But let me tell you a little story that can paint my financial situation into an ugly and depressing art masterpiece of a Hieronymous Bosch-esque depiction of a "homeless and financial hell" that has been me and my poor fiance's life for the past 8+ months. Only then can you empathize and understand my very real need for your hard earned money, and hopefully you can trust that this money will convert into goodwill for everyone by spreading a much needed message that can help save our country from a nihilistic death at the hands of an Orange Orangutang who eats well done steaks with ketchup and was the wingman of the disgraced and murdered billionaire Jeffrey**. (PLEASE NOTE: This is a disputable claim as the accused has proclaimed his innocence in any of the sick and depraved engagements of the dead-pedophile who was "suicided" by somebody in our government to hide something, but I am a strong proponent of the victims and believe them more than I believe an orange haired narcissist who has lied over thousands of time under oath and to the American public.)
        </p>
        <hr />
        <h2 class="my-6 font-semibold">My Tragic Tale of Becoming Homeless Despite Being College Educated</h2>
        <p class="mb-4">The court judge had just finished degrading me in front of a zoom audience, a physically present group of dysfunctional citizens who could not even strum up enough effort to pay their fucking rent on time, a fat cop who couldn't be bothered to look up from his Tetris game on his phone, and a bunch of slimy lawyers who were there on behalf of the landlords to make sure that they maintained their legal stranglehold over these poor residents of Raleigh, NC. My fiance and I had come down to the courthouse to ask the judge if we could possibly have a week to gather our things and possibly try to convince our landlords to accept our rental payment, considering we offered over $1,000 more than our past due rent and also based on the fact that we were given two days notice to show up for our eviction hearing (which as the Friday before Chrismas on Monday) and that our cruel landlord made sure that they filed the eviction the day after Christmas. Rather than helping an unfortunate couple out, the judge instead decided to berate me in front of the courtroom, accusing me of asking for "charity and a favor that he could not possibly grant me" and that I should rather put more effort into paying my rent in a timely manner. He did fall short of calling me a scumbag-asshole who is seeking to deprive my kind landlords our of their sorely-needed rental funds that they so much deserved, but I think he was rather cold to our situation and could have let me get past sputtering out "Your honor, I would appreciate it if you could consider our case given that we have had no notice and we just want to be given a fair chance. Can we possibly get an exception and you grant us another week in our apartment? We would be so grateful and..." - "THAT's ENOUGH! So what you are looking for is a charity case from me? No - now get out of here because you're wasting our time". Ok, he didn't say the very last part, but he said as much his mean-spirited expression he bore on his face.</p>
        <hr />
        <p class="mb-4">We arrived back at our apartment with animal control trying to exit our apartment with our animals - thank god we got there in time, because we would probably have lost our animals for good. We stopped animal control and then began to beg our landlords for a little bit of time to get our stuff out of our apartment because we were at the courthouse trying to ask the judge for more time. That drew a response of "fuck no!" from the creepy janitor who wanted nothing more than to claim as much of our property for his fatass self and received the support of his superiors who were so happy to our suffering. If it weren't for the incredibly sweet officer who intervened and said he would not allow us to be booted out without time to gather as much stuff as we could, we literally would have lost every single thing we possessed. So on January 11, 2023, we were sent to the streets by our apartment complex, despite offering to pay our rent, plus another $1,000 so we would not become homeless. It was fucked up and wrong on so many levels, and we have yet to recover from it.</p>
        <br />
        <p class="mb-4">The horrers and despair that we have experienced cannot be explained in depth here in this short space that I have, but we have been through hell and kept there against our will. Since then we've lost our beloved kitties, had our proudly purchased vehicle stolen from the side of the road, my fiance has been incessantly harrassed by perverted men who try to get her into their car to exchange money for sexual favors (she declines despite the temptation), been kicked out of public places simply for being homeless, lost jobs, almost died of heat exhaustion, gone days without eating at times, slept on concrete 80% of the time, felt embarassed because we can't shower, been shunned by family and friends, been forgotten about society, and wake up everyday ashamed and depressed because of our hopeless situation. Despite how terrible and degrading it has all been, we have stuck together while maintaining our values and determination to get our lives back on track and hopefully find a home again.
        </p>
        <br />
        <p class="mb-4">We have met some absolute heroes who you can find on my <a href="#">"Wall of Angels"</a> who have helped keep us alive. All of you have no idea how grateful we are for your kindness and we will repay it by paying you back or passing it onto others. We are so lucky to have been given your kind contributions that we have totally utilized for our survival. But unfortunately, we are in need of more resources to be able to be housed in safe and affordable place. Despit our greatest efforts, we have not been able to maintain employment and have even been screwed out of large amounts of money despite working for <a href="#">somebody for almost a month</a>. We have decided to resort to using our own individual abilities to earn money, and this blog is one of those ways I hope can help us earn our way back into normal society.</p>
        <hr />
        <p class="mb-4">I hope this story helps you understand my need for your contributions so I can continue to create compelling content and fight for democracy, free speech, and the future of our world. Every share, dollar, prayer, and positive thought that you can contribute is appreciated more than you will ever know, and you will be added to my Wall of Angels. You will also receive a token of appreciation for your support - the Rebel's Advocate Insignia in the form of a sticker or patch. It is yours to display how you want, but know that it represents a noble cause that is worth fighting for - one that could help shape the thinking of others for the greater good of the world. You can be proud of that.</p>
        <hr />
        <h2 class="my-6">Ways to Contribute</h2>
        <ul>
            <li><a href="#">My Fundraiser</a></li>
            <li><a href="#">Donation Pages</a></li>
            <li>My Cashapp: @GeauxWeisbeck</li>
            <li><a href="#">Social Media Pages</a></li>
            <li><a href="#">The Shop</a></li>
        </ul>
        <h3 class="my-6">Donate Now!</h3>
        <p class="my-4">You can directly donate right now, at this very moment, to help me right away, by clicking the button below! Thank you and god bless!</p>
        <a href="#" class="mt-8 bg-green-400 text-white px-4 py-2 border-white rounded-lg border-2 hover:bg-green-700 font-semibold">Donate Now</a>
    </section>


</PageLayout>
