---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "The Weekly Newsletter",
	description: "Stay up to date with a daily blog with a weekly summary.",
};
---

<PageLayout meta={meta}>
    <h1 class="mb-6 title">Coming Soon!</h1>
</PageLayout>
